.app-header {
  position: relative;
  height: 64px;
  background: linear-gradient(to left, #659BE8, #4962B9);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  overflow: hidden;
  z-index: 999;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  line-height: 64px;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;

  .btn {
    &:hover {
      cursor: pointer;
    }

    width: 100px;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, .16);
    display: block;
    text-align: center;
  }

  .title {
    margin-right: 24px;
  }

}

.app-inner-content {
  position: relative;
  flex: 1;
  padding: 0 24px 0px;
  overflow: hidden;
  overflow-y: scroll;
}